.mainTable{
  max-height: 410px;
  overflow-y: scroll;
}

#widget_table{
  max-height: 500px;
  overflow-y: scroll;
}

.widgetInput{
  /*float: left;*/
  width: 15%;
  margin-left: 30px;
  border-radius: 3px;
}

.widget-header{

}

th:hover{
  cursor: pointer;
}

.closeForm{
  float: right;
}
.closeForm:hover{
  cursor: pointer;
}