<div class="row header col-xs-12">
            <div class="user pull-right">
              <div class="item dropdown">
                <a href="#" class="dropdown-toggle"><img src="img/avatar.jpg" alt=""></a>
              </div>
            </div>
            <div class="meta">
              <div class="page">Dashboard</div>
              <div class="breadcrumb-links"><a ui-sref="root.home">Home</a> / Users</div>
            </div>
          </div>
          <!-- End Header Bar -->


          <!-- Tables -->
          <div class="row">

            <!-- Widget listing -->
            <div class="col-lg-12">
              <div class="widget">
                <div class="widget-header">Users
                  <div class="pull-right"><input type="text" class="form-control input-sm" ng-model="query" placeholder="Search"></div>
                </div>
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                      <tr>
                        <th class="text-center" ng-click="sortType='id'; sortReverse = !sortReverse ">ID</th>
                        <th ng-click="sortType='name'; sortReverse = !sortReverse ">Name</th>
                        <th ng-click="sortType='gravatar'; sortReverse = !sortReverse ">Avatar</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="user in vm.users | orderBy:sortType:sortReverse | filter:query">
                        <td class="text-center">{{user.id}}</td>
                        <td><a ui-sref="root.singleUser({id:user.id})">{{user.name}}</a></td>
                        <td><img ng-src="{{user.gravatar}}"></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div><!-- End Widgets -->

          </div><!-- End Row -->